

---

##  **SQL Constraints Practice**

###  Goal:

Create a table called `Products` with multiple constraints and test it with valid and invalid data.

---

###  **Part 1: Table Creation**

Create a table named `Products` with the following structure and constraints:

| Column       | Data Type       | Constraints               |
| ------------ | --------------- | ------------------------- |
| `product_id` | `INT`           | `PRIMARY KEY`             |
| `name`       | `VARCHAR(100)`  | `NOT NULL`                |
| `price`      | `DECIMAL(10,2)` | `CHECK (price > 0)`       |
| `category`   | `VARCHAR(50)`   | `DEFAULT 'Miscellaneous'` |
| `stock`      | `INT`           | `CHECK (stock >= 0)`      |
| `sku`        | `VARCHAR(20)`   | `UNIQUE`, `NOT NULL`      |

---

###  **Part 2: Sample Inserts**

1. Insert a valid product:

```sql
INSERT INTO Products (product_id, name, price, stock, sku)
VALUES (1, 'Wireless Mouse', 599.99, 50, 'MOU123');
```

2. Try inserting a product with:

   * A negative price (should fail)
   * A duplicate SKU (should fail)
   * Null `name` (should fail)
   * Omit `category` and verify the default value works

---

###  **Part 3: Query for Verification**

Run this query to see all valid entries:

```sql
SELECT * FROM Products;
```

---

###  Bonus Challenge:

* Add a new table called `Categories` with `category_id` and `category_name`
* Modify `Products.category` to be a **foreign key** referencing `Categories.category_name`

---


---